
.container {
  width: 650px;
  height: 400px;
  background-color: rgb(33, 3, 70);
  border-radius: 10px;
  color: bisque;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
margin: 100px;
  padding: 20px;
  padding-bottom: 240px;

}

h1 {
  font: 17px;
  color: white;
  text-align: center;
}

.left-info {
  color: white;
  background: linear-gradient(
    109.5deg,
    rgb(13, 11, 136) 9.4%,
    rgb(86, 255, 248) 78.4%
  );
  border: 1px black solid;
  display: flex;
  border-radius: 10px;
  list-style: none;
  
  
}

.right-info {
  color:white;
  text-align: center;
  font: 10px;
  margin-left: 20px;
  padding: 1%;
  list-style: none;
 
border-radius: 10px;

}
::placeholder{
color: rgb(20, 20, 91);
}

input[type=search]{
padding: 6px;
border: 1px solid #efc9af;

}

input[type=submit]{
padding: 7px;
border: 1px solid;


}
.code{
    font-size: 18px;
    color: black;
    
}
.code:hover{
    color:rgb(81, 12, 81);
}